In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r"C:\Users\Sristi v\Downloads\SQL_Project\project_sql\3_top_demanded_skills_results.csv")
data

     skills  demand_count
0       sql          2561
1    python          1802
2     excel          1718
3   tableau          1346
4  power bi          1043